/* -------------------------------------  */
/* TIMESCALE COMPONENT SECTION */
/* -------------------------------------  */
.btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
}

.btn-secondary:hover {
	background-color: #F0B662;
}

.timescale,
.sensor {
	
}

.timescale button {
	padding: 0.25rem 1rem;
}